@model EKContent.web.Models.ViewModels.BaseEntityListViewModel<EKContent.bus.Entitities.Feed>
@{
    ViewBag.Title = "List";
}

@{
    var model = Model.NavigationModel;
}

@Html.Partial("Nav", Model.NavigationModel)
<h1>Feeds</h1>

<a class="btn btn-primary" href=@Url.Action("Edit", "Feed", new { id = Model.NavigationModel.Page.PageNavigation.Id }, null)><i class="icon-plus" ></i>Add</a>

@foreach (var item in Model.Items)
{
    
    @Html.Partial("LineItem", new EKContent.web.Models.ViewModels.BaseEntityWrapper { Item = item, NavigationModel = Model.NavigationModel })
    <div class="row">
        <div class="span2">
            <small>@item.URL</small>
        </div>
    </div>

}
